@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;}

.title{
    color: #19426B;
    font-weight: 900;
    text-decoration: underline 5px;
    text-underline-offset: 15px;
    text-decoration-color: #239EDB;
}

.bottom-title{
    color: #050D18;
    font-weight: 900;
}

.background-section{
    background-color: #F5F8FD;
}

.etiquette{
    background-color: #E5EDF9;
    width: fit-content;
}

.corp{
    color: #38393A;
}

.button{
    background-color: #239EDB;
    color: #fff;
}

.blur-background-content {
    color: #eeeeee;
    font-weight: bold;
    border: 3px solid #cccccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  #project-bar{
    background-color: rgba(35, 158, 219, 0.8);
}

/*
colors: {
      'nav' : '#040B13',
      'first' : '#239EDB',
      'corp' : '#38393A',
      'title': '#19426B',
      'bottom-title': '#050D18'
      'date-elm-grey': '#E5EDF9',
      'background-section': '#F5F8FD',
    },

*/